---
layout: default
---

<div class="intro">
	<p>"Software engineer who loves all things with great user experience and photography."</p>
</div>

<div class="row">
	<div class="col col-first">
	{% for post in site.posts %}
		{% assign loopindex = forloop.index | modulo: 3 %}
		{% if loopindex == 0 %}
	    	<div class="box">
    			<a class="box-title" href="{{ post.url }}">
    				<p> {{ post.title | upcase }} </p>
    			</a>
    			<p class="grey"> {{ post.excerpt | remove: '<p>' | remove: '</p>' }} </p>
    			<a class="grey" href="{{ post.url }}"> Read more >> </a>
			</div>
		{% endif %}
	{% endfor %}
	</div>

	<div class="col col-second">
	{% for post in site.posts %}
		{% assign loopindex = forloop.index | modulo: 3 %}
		{% if loopindex == 1 %}
   			<div class="box">
    			<a class="box-title" href="{{ post.url }}">
    				<p> {{ post.title | upcase }} </p>
    			</a>
    			<p class="grey"> {{ post.excerpt | remove: '<p>' | remove: '</p>' }} </p>
    			<a class="grey" href="{{ post.url }}"> Read more >> </a>
			</div>
	  	{% endif %}
	{% endfor %}
	</div>

	<div class="col col-third">
	{% for post in site.posts %}
		{% assign loopindex = forloop.index | modulo: 3 %}
		{% if loopindex == 2 %}
		    <div class="box">
    			<a class="box-title" href="{{ post.url }}">
    				<p> {{ post.title | upcase }} </p>
    			</a>
				<p class="grey"> {{ post.excerpt | remove: '<p>' | remove: '</p>'  }} </p>
    			<a class="grey" href="{{ post.url }}"> Read more >> </a>
			</div>
		{% endif %}
	{% endfor %}
	</div>
</div>