@mixin triangle-right() {
    border-top: 15px solid transparent;
    border-left: 15px solid pink;
	border-bottom: 15px solid transparent;
}

@mixin triangle-left-inward() {
    border-top: 15px solid pink;
    border-left: 15px solid transparent;
	border-bottom: 15px solid pink;
}

.zh {
	height: 0;
}

.zw {
	width: 0;
}

.triangle {
	@include triangle-right();
}

.triangle-inward {
	@include triangle-left-inward();
}

.arrow {
	position: relative;	
	height: 30px;
	background: pink;
	padding: 0px 12px;
	display: inline-block;
}

.arrow:before, 
.arrow:after {
	position: absolute;
	content: "";
}

.arrow:before {
	@include triangle-left-inward();
	left: -15px; 	
}

.arrow:after {
	@include triangle-right();
    right: -15px;
}

/* * CENTERING POST */
.post-content {
  .parent {
    background: black;
    height: 100px;
    position: relative;
    div {
      color: white;
      position: absolute;
      border: 1px solid white;
      width: 300px;
      text-align: center;
    }
  }
  .child-one {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .parent-two {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
